@import "../../styles/mixins";
@import "../../styles/colors";

.sidebar {
    position: fixed;
    height: 100vh;
    min-height: 100vh;
    background-color: #F3F3F3;
    width: 200px;

    @include mobile() {
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: 300px;
        max-height: 350px;
    }

    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 725px;
        text-align: center;

        @include mobile() {
            width: 100%;
            max-height: 300px;
        }

        li {
            a {
                display: block;
                border-radius: 10px;
                padding: 20px;
                margin: 10px;
                background-color: $primary;
                box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
                color: white;
            }
            & :hover {
                background-color: $primary-hover;
            }
        }
    }
}