@import "../../styles/mixins";
@import "../../styles/colors";

.header {
    z-index: 10;
    background-color: $primary;
    width: 100%;
    padding: 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    position: sticky;
    top: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.contentarea {
    width: 100%;
    padding-left: 250px;
    padding-right: 10px;

    @include mobile() {
        padding-left: 30px;
        padding-right: 30px;
    }    
}