@import "../../../../styles/mixins";

.pdf_container {
    background-color: #f6f6f6;
    margin-bottom: 100px;
    min-width: 800px;
    width: 100%;
    height: 700px;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-y: auto;

    @include mobile() {
        min-width: 100%;
    }
}

