@import "./colors.scss";
@import "~nprogress/nprogress.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#nprogress .bar {
  height: 5px;
  background-color: $nprogress;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
}

* {
  box-sizing: border-box;
}

// pdf viewer
.rpv-toolbar__right {
  display: none!important;
}

.rpv-default-layout__sidebar-tabs {
  display: none!important;
}

.rpv-toolbar__left {
  display: none!important;
}